@import "src/styles/variables";

.currentTrack {
  display: flex;
  flex: 0 0 25%;
  .trackImage {
    width: 5.6rem;
    height: 5.6rem;
  }
  .trackInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 1.4rem;
    .trackName {
      font-size: 1.5rem;
      line-height: 1.82rem;
      color: $light_xl;
    }
    .trackArtists {
      margin-top: 0.6rem;

      color: $light_l;
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }
}
