@import "../../../styles/variables";
@import "../../../styles/mixins";

.banner {
  background: linear-gradient($light_gray, $dark_black);
  .profile {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    .profileRow {
      margin-top: 11rem;
      display: flex;
      align-items: flex-end;

      .mainImage {
        display: block;
        height: 26.4rem;
        width: 26.4rem;
        overflow: hidden;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;

        margin-left: 1.5rem;

        .title {
          font-size: 1.2rem;
          color: $light_gray;
          text-transform: uppercase;
        }

        .name {
          margin-top: -.4rem;
          @include h1();
        }
        .description {
          font-size: 1.6rem;
          color: $light_l;
        }
        .buttons {
          margin-top: 2rem;
          button {
            margin-right: 1.6rem;
          }
        }
      }
    }

    .followers {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .text {
        text-align: right;
        display: block;
        line-height: 1.9rem;
        font-size: 1.2rem;
        color: $light_gray;
        text-transform: uppercase;
      }
    }
  }

}
