@import "../../../styles/variables";

.player {
  background-color: $dark_gray;
  grid-area: player;
  height: 8.8rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;

  .playerControls {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .extendedControls {
    flex: 0 1 25%;
    display: flex;
    justify-content: flex-end;
  }
}

.button {
  padding: 2rem;
  margin: 0.5rem;
}
