@import "../../../styles/variables";

.player {
  background-color: $dark_gray;
  grid-area: player;
  height: 8.8rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;

  .playerControls {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    .controlButtons {
      display: flex;
      align-items: center;
      .playBtn, .pauseBtn {
        margin: 0 2.8rem;
        background-color: transparent;
        width: 3.2rem;
        height: 3.2rem;
      }
      .prevTrack, .nextTrack {
        background-color: transparent;
      }
    }
    .trackProgress {
      margin-top: .8rem;
      display: flex;
      min-width: 100%;
      .currentTime, .duration {
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: $light_l;
      }
      .currentTime {}
      .trackLine {
        flex: 1 0;
        margin: 0 1.3rem;
      }
      .duration {}

    }
  }
  .extendedControls {
    flex: 0 1 25%;
    display: flex;
    justify-content: flex-end;
  }
}

.button {
  padding: 2rem;
  margin: 0.5rem;
}
