@import "../../../styles/variables";

.trackProgress {
  margin-top: .8rem;
  display: flex;
  min-width: 100%;
  .currentTime, .duration {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $light_l;
  }
  .currentTime {}
  .trackLine {
    flex: 1 0;
    margin: 0 1.3rem;
  }
  .duration {}

}
