@import "../../../styles/variables";
@import "../../../styles/mixins";

.artistCard {
  display: flex;
  flex-direction: column;
  width: 20rem;

  .imageWrapper {
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    .artistImage {
      display: block;
      max-width: 100%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .name {
    @include h3();
    margin-top: 1.6rem;
    text-align: center;
  }
}
