@import "../../../styles/variables";

.skeletonCard {
  min-width: 20rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: $light_black;
  border-radius: 5px;
  .skeletonImage {
    min-width: 100%;
    height: 16.8rem;
    margin-bottom: 1.6rem;
  }
  .skeletonTitle {
    margin-bottom: .6rem;
  }
}
