@import "src/styles/variables";
@import "src/styles/mixins";

.card {
  max-width: 20rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: $light_black;
  border-radius: 5px;
  transition: background-color ease-out .2s;
  &:hover {
    background-color: $dark_gray;
  }
  .imageWrapper {
    height: 16.8rem;
    width: 16.8rem;
    background-color: $dark_gray;
    .hover {
      display: block;
      max-width: 100%;
      transition: opacity ease-out .3s;
    }
  }


  .name {
    margin-top: 1.6rem;
    @include h3
  }
  .description {
    margin-top: .6rem;
    color: $light_gray;
    word-break: break-word;
  }
}
