@import "../../../styles/variables";

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  .svgIcon {
    fill: $light_gray;
  }
  &:hover {
    .svgIcon {
      fill: $light_xl;
    }
  }
}
